
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebff;
  font-family: 'Poppins', sans-serif;
}

.white {
  background-color: #fff;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  color: #6070ff;
}

nav h1 {
  font-size: 18px;
}

/* Hero Section */

.banner {
  background: url(../images/header-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 24px;
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.banner h1 {
  font-size: 35px;
  color: #172b4d;
}

.banner p {
  font-size: 16px;
  color: #344563;
  margin-top: 10px;
}

.banner a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  color: #7f8cff;
}

.banner ul {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  color: #505f79;
}

.banner ul li {
  list-style: none;
}

.banner ul li a {
  text-decoration: none;
}
