@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,800&display=swap');

:root {
  --primary-color: rgb(96, 112, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
  background: #e5e5e5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* Mobile view */
@media (max-width: 768px) {
  .navbar .desktop-nav {
    display: none;
  }

  .navbar .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(96, 112, 255, 0.85);
    padding: 3em;
    display: none;
    flex-direction: column;
    gap: 40px;
  }

  .blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    backdrop-filter: blur(10px);
  }

  #close-menu {
    color: #fff;
    margin-left: auto;
  }

  .mobile-nav li {
    display: block;
  }

  .mobile-nav li a {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
  }

  .mobile-nav li a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
  }

  .navbar i {
    display: block;
  }

  .banner {
    background-image: url('../images/mobile/header-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
  }

  .banner-text {
    padding: 0;
    margin: 0;
  }

  .banner h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .modal .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .modal .tags {
    margin: 0.5rem 0;
  }

  .about .grid,
  .portfolio .grid,
  .skills .details .grid {
    grid-template-columns: 1fr;
  }

  .portfolio img {
    width: 100%;
    padding-left: 0;
  }

  .portfolio .card {
    height: 100%;
  }

  .portfolio .container {
    padding: 0 15px;
  }

  .program {
    justify-content: left;
    flex-direction: column;
  }

  .program li {
    display: flex;
    width: 100%;
    height: 66.72px;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
  }

  .program h3 {
    margin: auto 0;
  }

  .program img {
    margin: auto 10px;
  }

  .footer {
    background-image: url('../images/mobile/contact-mobile.svg');
    background-position: right 0;
    background-size: auto;
    background-repeat: no-repeat;
    border-top-left-radius: 80px;
    background-color: #6070ff;
  }

  .footer .footer-text {
    width: 100%;
  }

  .footer-form {
    margin: 10px 0;
    width: 100%;
  }

  .footer button {
    margin-top: 10px;
    display: inline;
  }
}
